.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1000px;
    width: 60%;
    margin: auto;
}

button {
    display: block;
    padding: 10px 30px;
    margin: 20px 0;
}

input{
    text-align: center;
}