.container {
    width: 600px;
    margin: auto;
    border: none;
}

input:first-child {
    margin: 5px auto;
}

input:nth-child(2) {
    margin: 10px auto;
}

h2 {
    width: 100%;
    text-align: center;
}

div {
    border: 1px solid black;
    width: 500px;
    height: 400px;
    margin: auto;
    text-align: center;
}

.container div:nth-child(1),
.container div:nth-child(2) {
    border: none;
    height: auto;
    margin: auto;
    width: 50%;
}

.txt{
    border: 3px solid black;
    box-shadow: 3px 3px 3px black;
}
label {
    display: block;
    text-align: center;
}

.red {
    color: red;
}

.black {
    color: black;
}

p{
    font-size: 18px;
    text-align: center;
    /* background-color: black; */
    font-weight: bold;
    font-family: sans-serif;
    text-transform: capitalize;
}
p:hover{
    cursor:default;
}